.mainBlock {
  .tooltipBlock {
    position: absolute;
    color: white;
    padding: 20px 40px;
    font-size: 12px;
    border-radius: 12px;
    transition: 0.4s;
    background-color: rgba(100, 100, 100, 0.5);
    min-height: 40px;
    max-height: 200px;
    overflow: hidden;
    min-width: 40px;
    max-width: 300px;
    left: 30px;
    top: 0;
    z-index: 99999;
    td {
      max-width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .XMark {
      position: absolute;
      top: 10px;
      left: calc(100% - 30px);
      cursor: pointer;
      &:hover{
        path{
          transition: 0.3s;
          fill: rgba(225, 0, 0, 0.5);
        }
      }
      path{
        transition: 0.3s;
        fill: rgba(100, 100, 100, 0.5);
      }
    }
  }
}
