header{
  width: 100%;
  text-align: center;
  transition: 0.3s;
  position: relative;
  z-index: 10;
  span{
    color: #eaeaea;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 800;
  }
}

body {
  position: relative;
  z-index: 10;
}

button{
  cursor: pointer;
  outline: none;
}

input{
  outline: none;
}

.authorized{
  opacity: 0;
  transition: 0.3s;
  animation: show 0.3s linear forwards;
}
@keyframes show {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}


.main{
  height: 100vh;
  width: 100%;
  overflow: auto;
  padding: 50px 0;
  scroll-behavior: smooth;
}

.arrow{
  position: absolute;
  bottom: 50px;
  right: 50px;
  z-index: 20;
  cursor: pointer;
  path{
    fill: rgba(155, 155, 155, 0.51);;
  }
}

.todoBlock{
  height: 100%;
  width: 100%;
}

.toDoList{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.createToDoBLock{
  display: flex;
  justify-content: center;
  form{
    margin: 50px;
  }
}

@media (max-width: 1000px) {
  .arrow{
    position: absolute;
    bottom: 50px;
    height: 30px;
    width: 30px;
    right: 10px;
    z-index: 20;
    cursor: pointer;
    path{
      fill: rgba(155, 155, 155, 0.51);;
    }
  }
}