.gear {
  position: absolute;
  z-index: 9999;
  height: 30px;
  width: 30px;
  right: 20px;
  top: 20px;
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    transform: rotate(180deg);
  }
}

.openedSettings {
  color: white;
  position: absolute;
  z-index: 99999;
  top: 0;
  right: 0;
  height: 100%;
  background: black;
  transition: 1s;
  animation: showSettings 1s linear forwards;
}

.closedSetting {
  color: white;
  position: absolute;
  z-index: 99999;
  top: 0;
  right: 0;
  height: 100%;
  background: red;
}

@keyframes showSettings {
  0% {
    width: 0;
  }
  60% {
    width: 100%;
  }
  70% {
    width: 93%;
  }
  80% {
    width: 100%;
  }
  90% {
    width: 97%;
  }
  100% {
    width: 100%;
  }
}

